<div class="col-xs-12 text-center" style="padding-top: 15px">
    <div class="switch">
        <label>
            Light
            <input type="checkbox" id="theme-checkbox">
            <span class="lever"></span>
            Dark
        </label>
    </div>
    <div class="powered-by">
        Powered by <a href="http://www.rescue.org" style=" color:white; ">The International Rescue Committee</a>, <a
            href="/acknowledgements/">with partners</a>. <a
            href="https://github.com/theirc/web.refugee.info/blob/master/LICENSE">Copyleft</a> 2016.
    </div>
</div>
