<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center" style="padding-top: 15px">
    <div class="switch">
        <label>
            {$ 'LIGHT' | translate $}
            <input type="checkbox" id="theme-checkbox" ng-model="baseController.isDark">
            <span class="lever"></span>
            {$ 'DARK' | translate $}
        </label>
    </div>
    <div class="powered-by">
        {$ 'POWERED_BY' | translate $} <a href="http://www.rescue.org" style=" color:white; ">{$ 'THE_IRC' | translate $}</a>, {$ 'WITH_PARTNERS' | translate $}. <a
            href="https://github.com/theirc/web.refugee.info/blob/master/LICENSE">{$ 'COPYLEFT' | translate $}</a> 2016.
    </div>
</div>