{% load static %}
{% load i18n %}
{% load tz %}

<!doctype html>
<!--[if lt IE 7]>      <html itemscope itemtype="http://schema.org/CollectionPage" lang="en" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html itemscope itemtype="http://schema.org/CollectionPage" lang="en" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html itemscope itemtype="http://schema.org/CollectionPage" lang="en" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="">  <!--<![endif]-->
<head>
    <!-- Meta info -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Important information for refugees."/>

    <title>RefugeeInfo</title>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-68574649-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)return;
            n = f.fbq = function () {
                n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq)f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1552280281734984');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1033326163421975&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="{% static "css/site.css" %}"/>
    <script>
        window.messages = {
            NO_LOCATION_FOUND: '{% trans "No location found!" %}'
        }
        window.apiUrl = '{{ API_URL }}';
    </script>
    <script src="{% static "js/main.js" %}"></script>

    <!-- Font and Styles -->
    <style>
        /*
        Here for now because updating cloudfront is a nightmare
        */
        .click-here {
            color: white;
            font-weight: bold;
        }

    </style>
</head>
<body class="content-page language-{{ LANGUAGE_CODE }}">

<div class="logo-bar-container">

    <div style="width: 100%; text-align: center">
        <a href="/?language={{ LANGUAGE_CODE }}">
            <img src="{% static "images/wordmark.png" %}"/>
        </a>
    </div>
    <hr/>
    <div class="language-wrapper language-en">
        <ul class="languages detailed-languages">
            {% language 'en' %}
                <li><a href="/?language=en">{% trans "English" %}</a></li>
            {% endlanguage %}
            {% language 'ar' %}
                <li><a href="/?language=ar">{% trans "Arabic" %}</a></li>
            {% endlanguage %}
            {% language 'fa' %}
                <li><a href="/?language=fa">{% trans "Farsi" %}</a></li>
            {% endlanguage %}
            {# Removing the multiple language picker for now  #}
            {% comment %}
            <li>{% trans "Other Languages" %}
                <ul>
                    {% for k, v in national_languages %}
                        {% language k %}
                            <li><a href="/?language={{ k }}">{% trans v %}</a></li>
                        {% endlanguage %}
                    {% endfor %}
                </ul>
            </li>
        {% endcomment %}
        </ul>

        <ul class="languages short-languages">
            <li>{% trans "Languages" %}
                <ul>
                    {% for k, v in LANGUAGES %}
                        {% language k %}
                            <li><a href="/?language={{ k }}">{% trans v %}</a></li>
                        {% endlanguage %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <hr/>
</div>
{% if closest %}
    <h3>{% trans "Closest location:" %}</h3>
    <ul class="locations  white">
        <li onclick="location.href='/{{ closest.slug }}/{{ LANGUAGE_CODE }}/'">
            {% trans "View info for" %}: <br/>
            {% firstof closest.title closest.metadata.page_title closest.name %}
            {% if closest.distance %}
                <span style="direction: ltr">({{ closest.distance|floatformat }} km)</span>
            {% endif %}
        </li>
    </ul>
{% endif %}
<h3>{% trans "Other locations available:" %}</h3>
{% for r in regions %}
    {% if r.children or not r.hidden %}
        <ul class="locations">
            <li onclick="$('.locations.children').slideUp(); $('#region{{ r.id }}').slideDown()">{% firstof r.title  r.metadata.page_title r.name %}
            </li>
        </ul>

        <ul class="locations children white" id="region{{ r.id }}" style="display: none">
            {% if not r.hidden %}
                <li onclick="location.href='/{{ r.slug }}/{{ LANGUAGE_CODE }}/'">
                    {% trans "View info for" %}:<br/>{% firstof r.title r.metadata.page_title r.name %}
                </li>
            {% endif %}
            {% if r.children %}
                {% for c in r.children %}
                    <li onclick="location.href='/{{ c.slug }}/{{ LANGUAGE_CODE }}/'">
                        {% trans "View info for" %}:<br/>{% firstof c.title c.metadata.page_title c.name %}</li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}

{% endfor %}
<hr/>
<ul class="locations">
    <li onclick="detectLocation()">{% trans "Detect my location" %}</li>
</ul>
<hr/>

<img src="/imaging/logo-bar/" alt="IRC | MercyCorps"/>
<hr/>
<ul class="locations">
    <li><a href="/acknowledgements/">{% trans "Acknowledgements" %}</a></li>
</ul>
{% include "footer.html" %}
</body>

</html>