{% load static %}
{% load i18n %}
{% load marktags %}
{% cookie 'theme' as theme %}

<div class="navbar navbar-default navbar-fixed-top navbar-refugee" role="navigation">

    <div class="navbar-header flex">
        <a class="brand brand-logo img-responsive" ng-click="baseController.navigationRedirect()">
            <img id="logo" class="theme" ng-if="!baseController.isAlkhadamat()" ng-src="/static/images/logo-{$ baseController.theme() $}.png"/>
            <img id="logo" class="theme" ng-if="baseController.isAlkhadamat()" ng-src="/static/images/logo-alkhadamat.png"/>
        </a>
        <div class="drawer-controls" ng-if="!baseController.isServicesDetails()">
            <div snap-toggle="right"><i class="material-icons">{$ baseController.getDrawerIcon() $}</i></div>
        </div>
        <div class="drawer-controls" ng-if="baseController.isServicesDetails()">
            <div ng-click="baseController.goBack()"><i class="material-icons">{$ baseController.getDrawerIcon() $}</i></div>
        </div>
    </div>

    <div class="container">
        <div class="navbar-inner">
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav navbar-left">
                    <div class="logo-bar-container">
                        <div>
                            <a ui-sref="aboutUs">
                                <img id="logo-bar" class="theme"
                                     ng-src="/static/images/logo-bar-{$ baseController.theme() $}.png"
                                    style="max-height: 25px"/>
                            </a>
                        </div>
                        <div style="padding-top: 3px;" class="navbar-mobile-menu-container">
                            <a class="about-us" ui-sref="aboutUs">
                                {$ 'ABOUT_US' | translate $}
                            </a>
                            <a ng-href="{$ baseController.feedbackUrl() $}" class="give-feedback">
                                {$ 'GIVE_FEEDBACK' | translate $}
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="" class="border-language" ng-click="baseController.changeLanguage('en')">
                            {$ 'ENGLISH' | translate $}
                        </a>
                    </li>
                    <li>
                        <a href="" class="border-language" ng-click="baseController.changeLanguage('ar')">
                            {$ 'ARABIC' | translate $}
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="baseController.changeLanguage('fa')">
                            {$ 'FARSI' | translate $}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
