{% load static %}
{% load i18n %}
{% load marktags %}
{% cookie 'theme' as theme %}

<div class="navbar navbar-default navbar-refugee" role="navigation" ng-controller="NavigationController as vm">
    <div class="container">

        <div class="navbar-inner">
            <div class="navbar-header flex">
                <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand brand-logo img-responsive" style="margin: 0; float: none;" href="#">
                    <img id="logo" class="theme"  ng-src="/static/images/logo-{$ baseController.theme() $}.png"/>
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav navbar-left">
                    <div>
                        <img id="logo-bar" class="theme" ng-src="/static/images/logo-bar-{$ baseController.theme() $}.png" style="max-height: 25px"/><br>
                    </div>
                    <div>
                        <a href="">
                            <span class="underline">About us</span>
                        </a>
                        <a href="">
                            <span class="underline">Contact</span>
                        </a>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% language 'en' %}
                        <li>
                            <a href="" ng-click="vm.changeLanguage('en')">{% trans "English" %}</a>
                        </li>
                    {% endlanguage %}

                    {% language 'ar' %}
                        <li>
                            <a href="" ng-click="vm.changeLanguage('ar')">{% trans "Arabic" %}</a>
                        </li>
                    {% endlanguage %}
                    {% language 'fa' %}
                        <li>
                            <a href="" ng-click="vm.changeLanguage('fa')">{% trans "Farsi" %}</a>
                        </li>
                    {% endlanguage %}

                </ul>
            </div>
        </div>
    </div>
</div>
