{%  load static %}
{%  load i18n %}
<script>
$( document ).ready(function(){
    $(".button-collapse").sideNav({edge: 'right'});
    $('.dropdown-button').dropdown();
}) ;
</script>
<nav>
    <div class="nav-wrapper">
        <div class="hide-on-med-and-down" style="line-height: 20px; position: absolute; padding-left: 10px; padding-top: 5px">
            <img src="{%  static 'images/logo-bar.png' %}" style="max-height: 25px"/><br>
            <a href="">
                <span class="underline">About us</span>
            </a>
            <a href="">
                <span class="underline">Contact</span>
            </a>
        </div>
        <a href="/" class="brand-logo center"><img src="{%  static 'images/logo-dark.png' %}" style="padding:10px" /></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down" style="line-height: 25px; padding-top: 30px; text-align: center">
            <li>
                <a href="/?language=en">{% trans "English" %}</a>
            </li>
            <li>
                <div class="lang-divider">
                    <a href="/?language=ar">{% trans "Arabic" %}</a>
                </div>
            </li>
            <li>
                <div class="lang-divider">
                    <a href="/?language=fa">{% trans "Farsi" %}</a>
                </div>
            </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li>
                <a href="/?language=en">{% trans "English" %}</a>
            </li>
            <li>
                <a href="/?language=ar">{% trans "Arabic" %}</a>
            </li>
            <li>
                <a href="/?language=fa">{% trans "Farsi" %}</a>
            </li>
        </ul>
    </div>
</nav>
