{% load static %}
{% load i18n %}
<ul class="menu">
    <li>
        <a href="{{ feedback_url }}/"> <img src="{% static "images/feedback.png" %}"
                                            alt="{% trans "Feedback" %}"
                                            class="content-button"/></a>
    </li>
</ul>
<div class="logo-bar-container">
    {% if is_captive %}
        <div style="width: 100%; text-align: center"><img
                src="https://d3w2ev2d100chk.cloudfront.net/media/filer_public/2a/8d/2a8d9390-618e-4d0e-9eda-5e5a6992461d/header.png"
                alt="Important notice"></div>
    {% else %}
        <div style="width: 100%; text-align: center">
            <a href="/?language={{ LANGUAGE_CODE }}">
                <img src="{% static "images/wordmark.png" %}"/>
            </a>
        </div>
    {% endif %}
    <hr/>

    <img src="/imaging/logo-bar/" alt="IRC | MercyCorps"/>
    <hr/>
</div>

<div class="language-wrapper">
    <ul class="languages detailed-languages">
        {% language 'en' %}
            <li><a href="/{{ location.slug }}/en/">{% trans "English" %}</a></li>
        {% endlanguage %}
        {% language 'ar' %}
            <li><a href="/{{ location.slug }}/ar/">{% trans "Arabic" %}</a></li>
        {% endlanguage %}
        {% language 'fa' %}
            <li><a href="/{{ location.slug }}/fa/">{% trans "Farsi" %}</a></li>
        {% endlanguage %}
        {% if national_languages %}
            <li>{% trans "Other Languages" %}
                <ul>
                    {% for k, v in national_languages %}
                        {% language k %}
                            <li><a href="/{{ location.slug }}/{{ k }}/">{% trans v %}</a></li>
                        {% endlanguage %}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
    <ul class="languages short-languages">
        <li>{% trans "Languages" %}
            <ul>
                {% for k, v in LANGUAGES %}
                    {% language k %}
                        <li><a href="/{{ location.slug }}/{{ k }}/">{% trans v %}</a></li>
                    {% endlanguage %}
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<hr/>


{% if is_captive and is_meraki %}
    <div style="margin-bottom: 5px">
        <h3>
            {% if provider %}
                {% trans "This is a free wifi hotspot provider by " %} {{ provider }}.
            {% endif %}
            {% blocktrans %}
                Tap the button below to continue to the internet, or
                scroll
                below for important information about this location.
            {% endblocktrans %}</h3>
        <a class="link-button" href="{{ next }}">{% trans "CONTINUE TO THE INTERNET" %}</a>
    </div>
{% endif %}
