<div snap-drawer="right" id="drawer">
    <div class="drawer-contents" dir="{$ baseController.direction() $}">
        <img class="theme" ng-if="!baseController.isAlkhadamat()"
             ng-src="/static/images/logo-{$ baseController.theme() $}.png"/>
        <img class="theme" ng-if="baseController.isAlkhadamat()" ng-src="/static/images/logo-arabic.png"/>
        <div ng-if="!location">
            <div class="current-location-container">
                <i class="material-icons">&#xE55C;</i>
                <span>{$ 'NO_LOCATION' | translate $}</span>
            </div>
        </div>
        <div ng-if="location">
            <div class="current-location-container">
                <i class="material-icons">&#xE55C;</i>
                <span><region-name region="location"></region-name></span>
            </div>

            <a ng-click="baseController.changeLocation()"
               class="change-location-link" snap-close>
                <span>{$ 'CHANGE_LOCATION' | translate $}</span>
            </a>

            <div class="section-header">
                {$ 'REFUGEE_INFO' | translate $}
            </div>
            <a ui-sref="locationDetails.index({slug: location.slug})"
               ui-sref-active="active" class="navigation-link" snap-close>
                <i class="fa fa-info" aria-hidden="true"></i>
                <span>{$ 'IMPORTANT_INFORMATION' | translate $}</span>
            </a>
            <a ui-sref="locationDetails.services({slug: location.slug, mapView: false})"
               ng-class="{'active': baseController.isServicesState() && !$root.mapView}" class="navigation-link" snap-close>
                <i class="fa fa-list" aria-hidden="true"></i>
                <span>{$ 'SERVICE_LIST' | translate $}</span>
            </a>
            <a ui-sref="locationDetails.services({slug: location.slug, mapView: true})"
               ng-class="{'active': baseController.isServicesState() && $root.mapView }" class="navigation-link" snap-close>
                <i class="fa fa-map" aria-hidden="true"></i>
                <span>{$ 'SERVICE_MAP' | translate $}</span>
            </a>
            <a ui-sref="aboutUs"
               ui-sref-active="active" class="navigation-link" snap-close>
                <i class="fa fa-question" aria-hidden="true"></i>
                <span>{$ 'ABOUT_US' | translate $}</span>
            </a>
            <a ng-href="{$ baseController.feedbackUrl() $}" class="navigation-link">
                <i class="fa fa-comment" aria-hidden="true"></i>
                <span>{$ 'GIVE_FEEDBACK' | translate $}</span>
            </a>
            <a ui-sref="locationDetails.notifications({slug: location.slug})"
               ui-sref-active="active" class="navigation-link" snap-close>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span class="padded">{$ 'ANNOUNCEMENTS' | translate $}</span>
            </a>
        </div>

        <div class="section-header">
            {$ 'CHANGE_LANGUAGE' | translate $}
        </div>
        <a class="navigation-link" ng-click="baseController.changeLanguage('en')">
            <span class="padded">{$ 'ENGLISH' | translate $}</span>
        </a>
        <a class="navigation-link" ng-click="baseController.changeLanguage('ar')">
            <span class="padded">{$ 'ARABIC' | translate $}</span>
        </a>
        <a class="navigation-link" ng-click="baseController.changeLanguage('fa')">
            <span class="padded">{$ 'FARSI' | translate $}</span>
        </a>
    </div>

</div>
