<div class="row buttons">
    <div class="col-sm-6 text-center">
        <a ui-sref="locationDetails.importantInformation({slug: ctrl.slug})" class="navigation-button" ui-sref-active="active">
            <i class="fa fa-info important-info-icon center" aria-hidden="true"></i>
            <div class="center">
                <p>Important Information</p>
                <p class="help-text">Click here to find more information<br>about the location selected</p>
            </div>
        </a>
    </div>
    <div class="col-sm-6 text-center">
        <a ui-sref="locationDetails.services({slug: ctrl.slug})" class="navigation-button" ui-sref-active="active">
            <i class="fa fa-wrench services-icon center" aria-hidden="true"></i>
            <div class="center">
                <p>Services</p>
                <p class="help-text">Click here to find service<br>in the location selected</p>
            </div>
        </a>
    </div>
</div>