<div class="row buttons">
    <div class="col-sm-6 text-center hidden-xs">
        <button ng-click="ctrl.goToHome()" class="navigation-button"
                ng-class="{'active': ctrl.checkActiveState('locationDetails.index')}">
            <i class="fa fa-info important-info-icon" aria-hidden="true"></i>
            <div>
                <p>{$ 'IMPORTANT_INFORMATION' | translate $}</p>
                <p class="help-text">{$ 'IMPORTANT_INFORMATION_CLICK_HERE' | translate $}</p>
            </div>
        </button>
    </div>
    <div class="col-sm-6 text-center">
        <button ng-click="ctrl.goToServices()" class="navigation-button"
                ng-class="{'active': ctrl.checkActiveState('locationDetails.services')}">
            <i class="fa fa-list services-icon" aria-hidden="true"></i>
            <div>
                <p>{$ 'SERVICE_MAP' | translate $}</p>
                <p class="help-text" style="max-width: 150px">{$ 'SERVICES_CLICK_HERE' | translate $}</p>
            </div>
        </button>
    </div>
</div>
