<div ng-if="ctrl.filteredImportantInfo.length > 0">
    <h1 class="quick-links">{$ 'QUICK_LINKS' | translate $}:</h1>
    <div class="important-information-container">
        <div class="important-information-item"
             ng-repeat="info in ctrl.location.important"
             ui-sref="locationDetails.info({slug: ctrl.location.slug, infoSlug: info.slug})"
             ui-sref-active="active"
        >
            <div class="important-information-item-inner" ng-class="ctrl.direction">
                {$ info.title $}
            </div>
        </div>
    </div>
</div>
