{% load i18n %}
<div>
    <ul id="locations-{$ region.id $}" class="locations country">
        <li data-toggle="collapse" data-target="#region{$ region.id $}">
            <div class="location-flex" ng-class="direction">
                <region-flag region="region"></region-flag>
                <region-name region="region"></region-name>
            </div>
        </li>
    </ul>
    <ul class="locations children panel-collapse collapse" id="region{$ region.id $}">
        <li ng-click="navigateToDetails(region)" ng-if="!region.hidden">
            <span class="location-left">{$ 'VIEW_INFO_FOR' | translate $}:</span>
            <span class="location-center"><region-name region="region"></region-name></span>
        </li>

        <li class="country" ng-repeat="child in region.children | filter: {level: 1}" ng-click="navigateToDetails(child)">
            <span class="location-left">{$ 'VIEW_INFO_FOR' | translate $}:</span>
            <span class="location-center"><region-name region="child"></region-name></span>
        </li>
        <li class="region" ng-repeat="child in region.children | filter: {level: 2}" ng-click="navigateToDetails(child)">
            <span class="location-left">{$ 'VIEW_INFO_FOR' | translate $}:</span>
            <span class="location-center"><region-name region="child"></region-name></span>
        </li>
        <li class="camp" ng-repeat="child in region.children | filter: {level: 3}" ng-click="navigateToDetails(child)">
            <span class="location-left">{$ 'VIEW_INFO_FOR' | translate $}:</span>
            <span class="location-center"><region-name region="child"></region-name></span>
        </li>
    </ul>
</div>
