<div class="search-bar">
    <div class="col-md-12">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-search "></i>
            </div>
            <input ng-model-options="{ debounce: 500 }" ng-model="ctrl.search" type="text" class="form-control"
                   placeholder="{$ 'SEARCH' | translate $}">
            <div class="input-group-btn" ng-class="{open: open}" ng-if="!baseController.isMobile()">
                <button class="btn dropdown-toggle" ng-click="open=!open">
                    <span><i class="fa fa-filter" style="padding-right: 2px"></i>{$ 'TYPES_OF_SERVICES' | translate $}</span>
                </button>
                <ul class="dropdown-menu services-filter-list" ng-class="baseController.direction()"
                    aria-labelledby="dropdownMenu">
                    <li class="dropdown-header">{$ 'FILTER_BY_TYPE' | translate $}</li>
                    <li class="line" data-ng-repeat="type in ctrl.serviceTypes" style="cursor: pointer;">
                        <a data-ng-click="setSelectedType()" style="white-space: normal">
                            <div class="services-filter-list-icon-container">
                                <i class="fa {$ type.vector_icon $}"></i>
                            </div>
                            {$ type.name $} <i ng-class="isChecked(type.id) ? 'fa fa-check' : ''"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
