<div class="service-list" ng-show="ctrl.loaded">
    <div>
        <div class="row service-list-row" ng-repeat="rows in ctrl.chunkedServicesList">
            <div class="col-sm-4 no-padding service-list-item service-divider" ng-repeat="item in rows"
                 ui-sref="locationDetails.services.details({slug: ctrl.slug, serviceId: item.id})">
                <div class="col-xs-3 service-list-divider">
                    <div class="service-list-item-icon-container">
                        <span class="fa {$ ctrl.getServiceIcon(item.type) $} fa-2x service-icon"></span>
                    </div>
                </div>
                <div class="col-xs-9 service-info">
                    <div>
                        <h4 class="service-list-item-name">{$ item.name $}</h4>
                    </div>
                    <div>
                        <h5 class="service-list-item-location">
                            <span class="fa fa-map-marker" style="color: #989898"></span>
                            <region-name region="ctrl.location"></region-name>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-list-message" ng-show="ctrl.busy">{$ 'LOADING' | translate $}</div>
        <div style='clear: both;'></div>
    </div>
    <div class="service-list-message" ng-show="ctrl.services.length === 0 && !ctrl.busy">
        {$ 'NO_SERVICES' | translate $}
    </div>
</div>
