<div class="service-details" ng-show="ctrl.service">
    <div class="no-padding col-xs-12 service-details-bar">
        <div class="flex-row">
            <h1 ng-if="ctrl.service.address" class="service-location">
                <i class="material-icons">&#xE0C8;</i><span style="display: block">{$ ctrl.service.address $}</span>
            </h1>
        </div>
        <h1 class="provider-name">{$ 'SERVICE_PROVIDER' | translate $} {$ ctrl.service.provider.name $}</h1>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 no-padding">
        <img ng-if="!!ctrl.service.image" class="service-image" ng-src="{$ ctrl.service.image $}"/>

        <h2 class="service-description-title">
            {$ 'DESCRIPTION' | translate $}
        </h2>
        <p class="service-description-body">{$ ctrl.service.description $}</p>

        <div ng-if="ctrl.showOpeningHours()">
            <h2 class="service-description-title">{$ 'OPENING_HOURS' | translate $}</h2>
            <table class="service-opening-hours-table">
                <tr ng-repeat="day in ctrl.days">
                    <td class="day-of-week">{$ day $}</td>
                    <td>{$ ctrl.open[$index] $}</td>
                    <td>-</td>
                    <td>{$ ctrl.close[$index] $}</td>
                </tr>
            </table>
        </div>

        <div class="updated-at">{$ 'LAST_UPDATED_ON' | translate $} {$ ctrl.service.updated_at | date: "dd/MM/y hh:mm a" $}</div>

        <div class="button-container">
            <a ng-if="!!ctrl.service.address" ng-click="ctrl.getDirections()" class="button button-green">
                {$ 'GET_DIRECTIONS' | translate $}</a>
            <a ng-if="!!ctrl.service.phone_number" class="button button-black">
                <i class="fa fa-phone" aria-hidden="true"></i><span class="tel">{$ ctrl.service.phone_number $}</span></a>
            <a class="button button-white" href="https://www.facebook.com/sharer/sharer.php?u={$ ctrl.serviceUrl $}"
               target="_blank">{$ 'SHARE' | translate $}
            </a>
        </div>
    </div>
</div>
