<div class="service-details" ng-show="ctrl.service">
    <div class="no-padding col-xs-12 service-details-bar">

        <div class="service-location">
            <i class="material-icons">&#xE0C8;</i>
            <div class="service-location-text">
                <p>{$ ctrl.service.region.title || ctrl.service.region.name || "" $}</p>
            </div>
        </div>
        <div style="margin-bottom: 10px">
            <span style="font-size: 14px">{$ 'SERVICE_PROVIDER' | translate $}: </span>
            <span class="provider-name">{$ ctrl.service.provider.name $}</span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 no-padding">
        <div class="updated-at" style="padding: 0">{$ 'LAST_UPDATED_ON' | translate $}&nbsp;<span class="tel">
            {$ ctrl.service.updated_at | date: "dd/MM/y hh:mm a" $}&nbsp;</span></div>
        <img ng-if="!!ctrl.service.image" class="service-image" ng-src="{$ ctrl.service.image $}"/>

        <div style="display:flex;" ng-if="ctrl.service.description || ctrl.service.additional_info">
            <i class="fa fa-2x fa-info" style="margin: 20px 15px 15px 15px"></i>
            <div>
                <div ng-if="ctrl.service.description">
                    <h2 class="service-description-title">
                        {$ 'DESCRIPTION' | translate $}
                    </h2>
                    <p ng-bind-html="ctrl.service.description" class="service-description-body"></p>
                </div>
                <div ng-if="ctrl.service.additional_info">
                    <h2 class="service-description-title">
                        {$ 'ADDITIONAL_INFO' | translate $}
                    </h2>
                    <p ng-bind-html="ctrl.service.additional_info" class="service-description-body"></p>
                </div>
            </div>
        </div>

        <div ng-if="ctrl.showOpeningHours()" style="display:flex;">
            <i class="fa fa-2x fa-clock-o" style="margin: 20px 15px 15px 15px"></i>
            <div class="opening-hours-table">
                <h2 class="service-description-title">{$ 'OPENING_HOURS' | translate $}</h2>
                <p ng-if="ctrl.opening_time['24/7']">
                    {$ 'OPEN_24_7' | translate $}
                </p>
                <table ng-if="!ctrl.opening_time['24/7']" class="service-opening-hours-table" style="width: 100%">
                    <tr ng-repeat="day in ctrl.days">
                        <td class="day-of-week">{$ day.toUpperCase() | translate $}</td>
                        <td align="center">
                            <p ng-repeat="shift in ctrl.opening_time[day]" class="time-shift">
                                <span ng-if="shift['open'] && shift['close']">{$ shift['open'] $}</span>
                                <span ng-if="shift['open'] && shift['close']">{$ shift['open_format'] | translate $}</span>
                                <span ng-if="shift['open'] && shift['close']"> - </span>
                                <span ng-if="shift['open'] && shift['close']">{$ shift['close'] $}</span>
                                <span ng-if="shift['open'] && shift['close']">{$ shift['close_format'] | translate $}</span>
                                <span ng-if="!shift['open'] && !shift['close'] && $first && $last">
                                    {$ 'CLOSED' | translate $}</span>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="display:flex;"
             ng-if="ctrl.service.address_city ||
                    ctrl.service.address ||
                    ctrl.service.address_floor ||
                    ctrl.service.address_in_country_language">
            <i class="fa fa-2x fa-map-marker" style="margin: 20px 15px 15px 15px"></i>
            <div>
                <h2 class="service-description-title">
                    {$ 'ADDRESS' | translate $}
                </h2>
                <div ng-if="ctrl.service.address_city">
                    <h5 class="service-description-sub-title">
                        {$ 'ADDRESS_CITY' | translate $}
                    </h5>
                    <p class="service-description-body">{$ ctrl.service.address_city $}</p>
                </div>
                <div ng-if="ctrl.service.address || ctrl.service.address_floor">
                    <h5 class="service-description-sub-title">
                        {$ 'ADDRESS_STREET' | translate $}
                    </h5>
                    <p class="service-description-body">{$ ctrl.service.address_floor $}</p>
                    <p class="service-description-body">{$ ctrl.service.address $}</p>
                </div>
                <div ng-if="ctrl.service.address_in_country_language">
                    <h5 class="service-description-sub-title">
                        {$ ctrl.getAddressInCountryLanguageName() | translate $}
                    </h5>
                    <p class="service-description-body">{$ ctrl.service.address_in_country_language $}</p>
                </div>
            </div>
        </div>

        <div class="button-container">
            <a ng-if="!!ctrl.service.location" ng-click="ctrl.getDirections()" class="button button-green">
                <i class="fa fa-map" aria-hidden="true"></i>{$ 'GET_DIRECTIONS' | translate $}</a>
            <a ng-if="!!ctrl.service.phone_number" class="button button-green">
                <i class="fa fa-phone" aria-hidden="true"></i><span>{$ 'CALL' | translate $}</span> <span class="tel labeled-text"> {$ ctrl.service.phone_number $}</span></a>
            <a ng-if="!!ctrl.service.email" href="mailto:{$ ctrl.service.email $}" class="button button-green">
                <i class="fa fa-envelope-o" aria-hidden="true"></i><span>{$ 'EMAIL' | translate $}</span><span class="labeled-text"> {$ ctrl.service.email $}</span></a>
            <a ng-if="!!ctrl.service.facebook_page" ng-click="ctrl.openUrl(ctrl.service.facebook_page)" class="button button-blue">
                <i class="fa fa-facebook-f" aria-hidden="true"></i><span>{$ 'FB_PAGE' | translate $}</span></a>
            <a ng-if="!!ctrl.service.website" ng-click="ctrl.openUrl(ctrl.service.website)" class="button button-black">
                <i class="fa fa-external-link" aria-hidden="true"></i><span>{$ 'WEBSITE' | translate $}</span><span class="labeled-text"> {$ ctrl.service.website $}</span></a>
            <a class="button button-white" href="https://www.facebook.com/sharer/sharer.php?u={$ ctrl.serviceUrl $}"
               target="_blank"><i class="fa fa-share" aria-hidden="true"></i>{$ 'SHARE' | translate $}
            </a>
        </div>
    </div>
</div>
