@import "mixins";

.general-info-item-content {
  .line {
    border: 0;
    border-bottom: 1px $divider-color solid;
  }

  hr {
    width: 30%;
    border: 2px solid $green-accent-color;
  }

  img {
    max-width: 100%;
  }

  a {
    color: $text-color;
    text-decoration: underline;
    &:hover {
      color: $text-color-muted;
      text-decoration: underline;
    }
  }

  h2 {
    font-size: 24px;
    margin: 15px 0 10px 0;
  }

  table {
    border-collapse: collapse;
    border: 2px solid $divider-color;
    margin-bottom: 10px;
    td {
      border: 2px solid $divider-color;
      padding: 5px 10px;
      p {
        margin: 0
      }
    }
  }

  .content-button {
    height: 25px;
    border: 1px white solid;
    padding: 2px 2px;
  }

  iframe {
    display: block;
  }

  .g-translate {
    float: right;
    margin-top: 15px;
  }

  .lst-kix_6cj4gmv9r21z-0 > li:before, p a {
    color: $text-color;
  }

  h1.page-title {
    font-size: 36pt;
    margin-bottom: .5em;
    margin-top: .25em;

  }

  table.important {
    border: 1px white dashed;
    width: 100%;
    border-spacing: 0;
    margin-bottom: 1em;
  }

  table.important > tbody > tr:last-child > td {
    border-bottom: 0;
  }

  table.toc {
    width: 100%;
    border-spacing: 0;
    margin-bottom: 2em;

  }

  table.toc .image {
    max-height: 30px;
  }

  table.toc td {
    border-bottom: 1px white solid;
    padding: 5px 5px;
    height: 30px;
  }

  table.toc a {
    text-decoration: none;
  }

  table.toc > tbody > tr > td:first-child {
    width: 40px;
  }

  .title-icon {
    width: 25px
  }

  hr.title-hr {
    margin: 0;
  }

  h3.anchor {
    margin-top: 2.5em;
    margin-bottom: 2px;
  }

  li:before {
    color: $text-color;
  }

  .border-table {

  }

  .img-left {
    float: left;
  }

  .img-right {
    float: right;
  }

  .table-responsive {
    border: 0 !important;
  }

  hr.branded-line {
    width: 30%;
    border-bottom: 2px solid $green-accent-color;
  }

  .text-center {
    text-align: center;
  }

  img.outside-buttons {
    @media (min-width: $screen-sm-min) {
      max-width: 250px !important;
    }
  }

}

.general-info-container li, .app li, .general-info-item-content li {
  margin-bottom: 5px;
}


.img-centered, .img-centred {
  display: block;
  margin: auto;
  max-width: 100%;
  clear: both;
}

.logo-centered, .logo-centred {
  display: block;
  margin: auto;
  @media (min-width: $screen-sm-min) {
    max-width: 250px;
  }
  @media (max-width: $screen-sm-min) {
    max-width: 100%;
  }
  clear: both;
  
}

.deembiggen {
  max-height: 90px;
}

.country-cell {
  @media (max-width: $screen-xs-max) {
    img {
      display: block;
      margin: 0 auto;
    }
    text-align: center;
  }
  @media (min-width: $screen-sm-min) {
    min-width: 200px;
  }
}

a.link-button {
  background-color: $green-accent-color;
  color: white !important;
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  &:hover {
    background-color: $green-accent-color-dark;
  }
}

a.link-button-reversed {
  background-color: white !important;
  border: 1px $green-accent-color solid !important;
  color: $green-accent-color !important;
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  &:hover {
    background-color: $green-accent-color !important;
    color: white !important;
  }
}

.country-flag {
  width: 25px;
  margin-right: 5px;
}

.toggle-box {
  display: none;
  + label {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    line-height: 30px;
    background-color: #F2F2F2;
    margin: 0;
    p {
      margin: 0;
      padding: 5px 0;
    }
    + div {
      display: none;
      margin-bottom: 10px;
    }
  }
  &:checked {
    + label + div {
      display: block;
    }
    + label:before {
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  + label:before {
    display: block;
    height: 0;
    width: 0;
    content: "";
    margin: 10px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid $green-accent-color;
    @include transition-mixin(all, 0.3, ease-out);
  }
}

div.answer {
  padding: 10px;
  background-color: #FAFAFA;
}

.video {
  position: relative;
  display: block;
  margin: 10px auto;
  &:before {
    transition: opacity 0.2s ease-out;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent url(../images/play_button.png) no-repeat center;
    pointer-events: none;
    opacity: 0.66;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

div.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footnotes_list label {
  max-height: 100px;
  overflow: auto;
  word-break: break-all;
}

.fb-container {
  justify-content: center;
  display: flex;
  padding-bottom: 15px;
}

.fb-post {
  padding: 10px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
  @media (min-width: $screen-sm-min) {
    width: 600px;
  }
}

.fb-post-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.fb-post-header-left {
  display: flex;
}

.fb-post-body {
  display: block;
}

.fb-post-img {
  padding-right: 1px;
  padding-bottom: 5px;
  padding-top: 1px;
}

.fb-post-video {
  padding-bottom: 5px;
  position: relative;
  display: block;
  margin: 10px auto;
  &:before {
    transition: opacity 0.2s ease-out;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent url(../images/fb_play_button.png) no-repeat center;
    pointer-events: none;
    opacity: 0.66;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.fb-post-info {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a:first-of-type {
    font-weight: bold;
  }
  a:last-of-type {
    font-size: 12px;
  }
  a {
    text-decoration: none !important;
  }
}

.fb-post-link {
  margin-left: auto;
  padding-right: 1px;
}

.fb-user-cover {
  a {
    height: 100%;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

.link-content {
  position: relative;
  height: 46px;
}
