.general-info-item-content .line {
  border: 0;
  border-bottom: 1px #EBEBEB solid; }
.general-info-item-content hr {
  width: 30%;
  border: 2px solid #00BA50; }
.general-info-item-content img {
  max-width: 100%; }
.general-info-item-content a {
  color: #000000;
  text-decoration: underline; }
  .general-info-item-content a:hover {
    color: #525252;
    text-decoration: underline; }
.general-info-item-content h2 {
  font-size: 24px;
  margin: 15px 0 10px 0; }
.general-info-item-content table {
  border: 2px solid #EBEBEB;
  margin-bottom: 10px; }
  .general-info-item-content table td {
    border: 2px solid #EBEBEB;
    padding: 5px 10px; }
    .general-info-item-content table td p {
      margin: 0; }
.general-info-item-content .content-button {
  height: 25px;
  border: 1px white solid;
  padding: 2px 2px; }
.general-info-item-content iframe {
  display: block; }
.general-info-item-content .g-translate {
  float: right;
  margin-top: 15px; }
.general-info-item-content .lst-kix_6cj4gmv9r21z-0 > li:before, .general-info-item-content p a {
  color: #000000; }
.general-info-item-content h1.page-title {
  font-size: 36pt;
  margin-bottom: .5em;
  margin-top: .25em; }
.general-info-item-content table.important {
  border: 1px white dashed;
  width: 100%;
  border-spacing: 0;
  margin-bottom: 1em; }
.general-info-item-content table.important > tbody > tr:last-child > td {
  border-bottom: 0; }
.general-info-item-content table.toc {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 2em; }
.general-info-item-content table.toc .image {
  max-height: 30px; }
.general-info-item-content table.toc td {
  border-bottom: 1px white solid;
  padding: 5px 5px;
  height: 30px; }
.general-info-item-content table.toc a {
  text-decoration: none; }
.general-info-item-content table.toc > tbody > tr > td:first-child {
  width: 40px; }
.general-info-item-content .title-icon {
  width: 25px; }
.general-info-item-content hr.title-hr {
  margin: 0; }
.general-info-item-content h3.anchor {
  margin-top: 2.5em;
  margin-bottom: 2px; }
.general-info-item-content a.link-button {
  background-color: #00BA50;
  color: white !important;
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 12px; }
  .general-info-item-content a.link-button:hover {
    background-color: #27a442; }
.general-info-item-content a.link-button-reversed {
  background-color: white !important;
  border: 1px #00BA50 solid !important;
  color: #00BA50 !important;
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 12px; }
  .general-info-item-content a.link-button-reversed:hover {
    background-color: #00BA50 !important;
    color: white !important; }
.general-info-item-content li:before {
  color: #000000; }
.general-info-item-content .border-table .country-cell {
  white-space: nowrap;
  min-width: 200px; }
.general-info-item-content .border-table .country-flag {
  width: 25px;
  margin-right: 5px; }
.general-info-item-content .img-left {
  float: left; }
.general-info-item-content .img-right {
  float: right; }
.general-info-item-content .table-responsive {
  border: 0 !important; }
.general-info-item-content hr.branded-line {
  width: 30%;
  border: 2px #00BA50; }
.general-info-item-content .text-center {
  text-align: center; }
.general-info-item-content .img-centered {
  display: block;
  margin: auto;
  max-width: 100%;
  clear: both; }
@media (min-width: 768px) {
  .general-info-item-content img.outside-buttons {
    max-width: 250px !important; } }
.general-info-item-content .logo-centered {
  display: block;
  margin: auto;
  clear: both; }
  @media (min-width: 768px) {
    .general-info-item-content .logo-centered {
      max-width: 250px; } }
  @media (max-width: 768px) {
    .general-info-item-content .logo-centered {
      max-width: 100%; } }
