$green-accent-color: #00BA50;
$green-accent-color-2: #21b149;
$yellow-accent-color: #FFDF0C;

// bootstrap responsive layout breakpoints
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

@mixin transition-mixin($property, $duration) {
  -webkit-transiton: $property #{$duration}s;
  -moz-transition: $property #{$duration}s;
  -ms-transition: $property #{$duration}s;
  -o-transition: $property #{$duration}s;
  -transition: $property #{$duration}s;
}

@mixin theme(
  $primary-color,
  $primary-color-2,
  $primary-color-3,
  $primary-color-4,
  $primary-color-5,
  $primary-color-6,
  $divider-color,
  $divider-color-2,
  $divider-color-3,
  $text-color,
  $text-color-muted,
  $background-image: '../images/black-background.jpg'
) {

  & {
    background-color: $primary-color-3;
    background-image: url($background-image);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $text-color;
  }

  .navbar-refugee {
    background-color: $primary-color-3;
    color: $text-color !important;
    border: none;
    @media (max-width: $screen-xs-max) {
      padding: 0 10px;
    }
    @media (min-width: $screen-sm-min) {
      height: 80px;
      padding: 24px 10px 0 10px;
    }
    a {
      color: $text-color !important;
    }
    margin: 0;

    .brand-logo img {
      @media (max-width: $screen-xs-max) {
        padding-top: 7px;
        max-height: 40px;
      }
      max-height: 45px;
    }

    @media (min-width: $screen-sm-min) {
      .navbar-inner {
        border-bottom: 1px solid $divider-color;
      }
      .navbar-collapse {
        @media (min-width: $screen-sm-min) {
          padding-top: 5px;
        }
      }
    }
  }

  li:before {
    color: $text-color;
  }

  .back-to-top {
    color: $text-color;
    font-size: 75%;
  }

  .click-here {
    color: white;
    font-weight: bold;
  }

  #container a {
    color: $text-color
  }

  .menu a {
    text-decoration: none;
    color: white;
  }

  .powered-by {
    font-size: 70%;
    margin-top: 30px;
    margin-bottom: 5px;
    color: $text-color;
    font-family: 'Courier New', Courier, monospace
  }

  .powered-by a {
    color: $text-color !important;
  }

  /*
  Styles for the content pages
  */

  .logo-bar-container {
    margin: 0;
    padding: 0;
    margin-top: 5px;
  }

  .logo-bar-container hr {
    margin-top: 3px;
  }

  .line {
    border: 0;
    border-bottom: 1px white solid;
  }

  hr {
    border: 0;
    border-bottom: 1px white solid;
  }

  ul {
    &.menu {
      text-align: left;
      display: inline;
      margin: 0;
      position: absolute;
      right: 15px;
      padding: 0 0;
      list-style: none;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

      li {
        font: bold 12px/18px sans-serif;
        display: inline-block;
        margin-right: -4px;
        position: relative;
        padding: 3px 0 0 2px;
        background: #000;
        cursor: pointer;
        @include transition-mixin(all, 0.2s);
        &:hover {
          background: #000;
          color: #fff;

          ul {
            display: block;
            opacity: 1;
            visibility: visible;
          }
        }

        ul {
          padding: 0;
          position: absolute;
          top: 48px;
          border-bottom: 1px white solid;

          right: 10px;
          width: 150px;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          display: none;
          opacity: 0;
          visibility: hidden;
          @include transition-mixin(opacity, 0.2s);

          li {
            border-top: 1px white solid;
            background: #000;
            display: block;
            color: #fff;
            text-shadow: 0 -1px 0 #000;

            &:hover {
              background: #000;
            }
          }
        }
      }
    }
  }

  .content-button {
    height: 25px;
    border: 1px white solid;
    padding: 2px 2px;
  }

  iframe {
    display: block
  }

  .g-translate {
    float: right;
    margin-top: 15px;
  }

  .lst-kix_6cj4gmv9r21z-0 > li:before, p a {
    color: #fff;
  }

  #container li {
    margin-bottom: 5px;
  }

  h1.page-title {
    font-size: 36pt;
    margin-bottom: .5em;
    margin-top: .25em;

  }

  table.important {
    border: 1px white dashed;
    width: 100%;
    border-spacing: 0;
    margin-bottom: 1em;
  }

  table.important > tbody > tr:last-child > td {
    border-bottom: 0;
  }

  table.toc {
    width: 100%;
    border-spacing: 0;
    margin-bottom: 2em;

  }

  table.toc .image {
    max-height: 30px;
  }

  table.toc td {
    border-bottom: 1px white solid;
    padding: 5px 5px;
    height: 30px;

  }

  table.toc a {
    text-decoration: none;
  }

  table.toc > tbody > tr > td:first-child {
    width: 40px;
  }

  .title-icon {
    width: 25px
  }

  hr.title-hr {
    margin: 0;
  }

  h3.anchor {
    margin-top: 2.5em;
    margin-bottom: 2px;
  }

  a.link-button {
    background-color: #ffffff;
    color: #000000 !important;

    min-height: 3em;
    line-height: 3em;
    display: block;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-left: .5em;
    margin-right: .5em;
  }

  a.link-button-reversed {
    border: 1px #fff solid;
    background-color: #000;
    color: #fff !important;

    height: 3em;
    line-height: 3em;
    display: block;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-left: .5em;
    margin-right: .5em;
  }

  a.link-button-reversed:hover {
    background-color: #ffffff;
    color: #000000 !important;

    min-height: 3em;
    line-height: 3em;
    display: block;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-left: .5em;
    margin-right: .5em;
  }

  .language-en, .language-el {
    direction: ltr;
  }

  .language-ar, .language-ps, .language-af, .language-fa {
    direction: rtl;
  }

  .language-en p, .language-el p {
    text-align: left;
  }

  .language-ar p, .language-ps p, .language-af p, .language-fa p {
    text-align: right;
  }

  span.tel {
    direction: ltr !important;
    display: inline-block;
  }

  ul.locations {
    display: inline-block;
    padding: 0 0;
    margin: 0 0;
    list-style: none;
    width: 100%
  }

  ul.locations li {
    display: block;
    background: #000;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    text-overflow: clip
  }

  ul.locations li a {
    color: #fff;
    text-decoration: none;
  }

  ul.locations.highlighted li {
    background-color: $green-accent-color;
    color: white;
    text-decoration: none;
    &:hover {
      background-color: $green-accent-color-2;
    }
  }

  ul.locations.highlighted li a {
    color: #000;
    text-decoration: none;
  }

  ul.locations.country li {
    background-color: $primary-color;
    border-top: 1px solid $divider-color;
    color: $text-color;
    text-decoration: none;
    padding: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $primary-color-6;
    }
  }

  ul.locations.children li {
    background-color: $primary-color-5;
    border-top: 1px solid $divider-color;
    color: $text-color;
    text-decoration: none;
    &:hover {
      background-color: $primary-color-6;
    }
  }

  ul.locations li.open ul {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  .location-left {
    font-size: 12px;
    padding-top: 2px;
    position: absolute;
    text-transform: uppercase;
    @media (max-width: $screen-xs-max) {
      display: none
    }
  }
  .location-center {
    text-align: center;
    display: block;
  }
  .location-flex {
    display: flex;
    justify-content: flex-start;
  }
  .region-flag {
    height: 24px;
    width: 54px;
    padding: 0 15px;
  }
  .banner {
    border: 1px white solid;
    padding: 5px 5px;
    margin-bottom: 5px;
  }

  .banner p {
    padding: 5px 5px;
    margin: 0 0;
  }

  .blue-content {
    background-color: #222B61
  }

  .blue-content ul.menu li {
    background-color: #222B61
  }

  .tel {
    white-space: nowrap;
  }

  .buttons {
    margin-top: 10px;
    @media (min-width: $screen-sm-min) {
      .col-sm-6:first-of-type {
        padding: 0 10px 0 0;
      }
      .col-sm-6:last-of-type {
        padding: 0 0 0 10px;
      }
    }
  }

  .service-information-choice {
    margin-top: 30px;
    .content {
      padding: 25px;
    }

  }

  .grey-button-medium {
    border: 1px solid $divider-color;
    color: $text-color;
    background-color: $primary-color-2;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    line-height: 70px;

    i {
      font-size: 25px;
      color: #528d57;
    }
  }

  .refugee-page-header {
    height: 80px;
    line-height: 80px;
    text-align: left;
    background-color: $primary-color;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 30px;
    border-top: 1px solid $divider-color-2;

    .fa-wrench {
      font-size: 30px;
    }
  }

  .border-top-bottom {
    border-top: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;
  }

  .border-right {
    border-right: 1px solid $divider-color;
  }

  .important-information {
    @media (min-width: $screen-sm-min) {
      height: 70px;
    }
    color: $primary-color-3;
  }

  .button-transparent {
    border: 0;
    background-color: transparent;
    color: $text-color;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 14px;
    &:hover {
      background-color: $primary-color-5;
    }
  }

  .change-location-button {
    border: 0;
    background-color: transparent;
    color: $green-accent-color !important;
    text-decoration: underline;
  }

  .font-bold {
    font-weight: bold;
  }
  .service-list-row {
    @media (max-width: $screen-xs-max) {
      margin: 0;
    }
  }
  .service-list-item-name {
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
  }
  .service-list-item-location {
    margin-bottom: 0;
  }
  .service-list-item {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: $primary-color-5;
    }
  }

  .location-bar-header {
    margin-bottom: 0 !important;
  }

  .location-bar {
    background-color: $green-accent-color;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #f8fefc;
    margin-bottom: 0 !important;
  }

  .caption {
    display: block;
  }

  span.underline {
    text-decoration: underline;
  }

  nav {
    background-color: $primary-color;
    color: $text-color;
    a {
      color: $text-color !important;
    }
  }

  .side-nav {
    background-color: $primary-color;
  }

  .lang-divider {
    border-left: 1px solid $text-color;
  }

  .switch label {
    color: $text-color;
    .lever {
      width: 80px;
      height: 2px;
      background-color: $text-color !important;
      &:after {
        background-color: $text-color !important;
        height: 10px;
        width: 10px;
        top: -4px;
      }
    }
  }
  .switch label input[type="checkbox"]:checked + .lever::after {
    left: 80px;
  }

  .service-list {
    .service-list-divider {
      border-right: 1px solid $divider-color;
    }
    .service-list-item-icon-container {
      width: 50px;
      height: 50px;
      background-color: $green-accent-color;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .service-icon {
      color: #FFF;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: $primary-color;
    padding: 10px;

    .title {
      color: $text-color-muted;
      text-transform: uppercase;
    }

    .input-group-addon,
    input {
      background-color: $primary-color-2;
      border: none;
      outline: none;
      box-shadow: none !important;
    }

    i.fa {
      color: $text-color;
    }
  }
  .service-details {
    h1 {
      margin: 0 0 10px 0;
    }
    h2 {
      margin: 20px 0 15px 0;
    }
    p {
      margin: 0 0 15px 0;
    }
    .service-name {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .service-location {
      font-size: 13px;
      color: $green-accent-color;
      .material-icons {
        font-size: 15px;
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
    .service-rating {
      font-size: 14px;
      text-transform: uppercase;
      color: $text-color-muted !important;
      .material-icons {
        font-size: 17px;
        position: relative;
        top: 3px;
        margin-left: 2px;
      }
    }
    .service-details-bar {
      border: 0 solid $divider-color;
      border-bottom-width: 1px;
    }
    .service-rate-link {
      text-decoration: underline;
      font-size: 13px;
      float: right;
      color: $text-color-muted !important;
      &:hover {
        color: $text-color !important;
      }
    }
    .service-description-title {
      font-size: 15px;
    }
    .service-description-body {
      font-size: 12px;
      color: $text-color-muted !important;
    }
  }
  .button-container {
    margin: 40px 0;
  }
  .button {
    width: 100%;
    font-size: 12px;
    padding: 12px 0;
    display: block;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  .button-green {
    background-color: $green-accent-color;
    color: #FFFFFF;
    &:hover {
      background-color: $green-accent-color-2;
    }
  }
  .button-black {
    background-color: #000000;
    color: #FFFFFF;
    &:hover {
      background-color: #303030;
    }
  }
  .button-white {
    background-color: #FFFFFF;
    color: #000000 !important;
    &:hover {
      background-color: #e2e2e2;
    }
  }
  .map-container {
    height: 400px;
    width: 100%;
    border-bottom: 1px solid $divider-color;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .view-container {
    margin-top: 20px;
    @media (max-width: $screen-xs-max) {
      padding: 10px;
    }
    @media (min-width: $screen-sm-min) {
      padding: 30px;
    }
    background-color: $primary-color-4;
  }
  .header-center {
    font-size: 18px;
    text-align: center;
    margin: 0 0 10px 0;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

body.content-page {
  padding-left: 10px;
  margin-top: 0;
  margin-left: 5px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.navbar {
  position: relative;
}

.brand {
  position: absolute;
  left: 50%;
  @media (max-width: $screen-xs-max) {
    margin-left: -62px !important;
  }
  @media (min-width: $screen-sm-min) {
    margin-left: -85px !important;
  }
  display: block;
}

i.fa {
  color: #528d57;
}

.dark-theme {
  @include theme(
          $primary-color: #2d2d2d,
          $primary-color-2: #000000,
          $primary-color-3: #181818,
          $primary-color-4: #181818,
          $primary-color-5: #434343,
          $primary-color-6: #525252,
          $divider-color: #6E6E6E,
          $divider-color-2: #373737,
          $divider-color-3: #BBBBBB,
          $text-color: #FFFFFF,
          $text-color-muted: #cbcbcb,
          $background-image: '../images/black-background.jpg'
  );
}

.light-theme {
  @include theme(
          $primary-color: #F4F5F6,
          $primary-color-2: #EEEEEE,
          $primary-color-3: #FFFFFF,
          $primary-color-4: #FFFFFF,
          $primary-color-5: #DDDDDD,
          $primary-color-6: #CCCCCC,
          $divider-color: #E2E2E2,
          $divider-color-2: #BABABA,
          $divider-color-3: #F2F2F2,
          $text-color: #000000,
          $text-color-muted: #373737,
          $background-image: '../images/white-background.jpg'
  );
}

.switch {
  label {
    input[type=checkbox] {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .lever {
      content: "";
      display: inline-block;
      position: relative;
      width: 40px;
      height: 15px;
      background-color: #818181;
      border-radius: 15px;
      transition: background 0.3s ease;
      vertical-align: middle;
      margin: 0 16px;
    }

    .lever:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 21px;
      height: 21px;
      background-color: #F1F1F1;
      border-radius: 21px;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
      left: -5px;
      top: -3px;
      transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
    }
  }
}

.no-padding {
  padding: 0;
}

// flex helper classes

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-space-between {
  justify-content: space-between;
}


// loader overlay
.isloading-wrapper.isloading-right {
  margin-left: 10px;
}

.isloading-overlay {
  position: relative;
  text-align: center;
}

.isloading-overlay .isloading-wrapper {
  background: #FFFFFF;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  top: 10%;
  z-index: 9000;
  color: black !important;
}
