@import "mixins";
@import "overlay";

.snap-content {
  background-color: $primary-color-3;
  color: $text-color;
  @include flexbox();
  @include flex-direction(column);
  @media (min-width: $screen-md-min) {
    background-color: lighten($primary-color-2, 2%);
  }
  @media print {
    overflow: visible !important;
  }
}

.snap-content {
  @media (min-width: $screen-sm-min) {
    transform: none !important;
  }
  //hacky way to fix positon fixed with transform
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  &[style*="transform: translate3d(-266px, 0px, 0px);"] {
    div.floating-action-button {
      display: none;
    }
  }
}

drawer {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

#drawer {
  border-left: 1px solid $divider-color-2;
  background-color: $primary-color-3;
  font-size: 12px;
  @media print {
    display: none;
  }
  .drawer-contents {
    background-color: $primary-color-3;
    color: $text-color;
    padding: 30px 10px;
    img {
      height: 40px;
    }
    .current-location-container {
      @include flexbox();
      @include align-items(center);
      @include justify-content(flex-start);
      text-transform: uppercase;
      padding-top: 20px;
      i {
        padding: 0 5px;
        color: $green-accent-color;
        font-size: 22px;
      }
    }
    .section-header {
      padding-top: 20px;
      height: 50px;
      text-transform: uppercase;
      color: $green-accent-color;
      border-bottom: 1px solid $divider-color-2;
    }
    .navigation-link {
      @include flexbox ();
      @include align-items(center);
      text-decoration: none;
      height: 50px;
      border-bottom: 1px solid $divider-color-3;
      &.active {
        background-color: $primary-color;
      }
      &:active {
        background-color: $primary-color-6;
      }
      i {
        color: $text-color;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        width: 45px;
      }
      span {
        color: $text-color
      }
    }
    .change-location-link {
      @include flexbox ();
      @include align-items(center);
      text-decoration: none;
      height: 40px;
      text-transform: uppercase;
      padding: 0 32px;
      color: $green-accent-color;
      //color: $text-color;
      &:active {
        color: $green-accent-color-dark;
      }

    }
    .padded {
      padding: 0 5px;
    }
  }
}

.navbar-refugee {
  background-color: $primary-color-3;
  color: $text-color !important;
  border: 0;
  border-radius: 0;
  z-index: 1001;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  @media (max-width: $screen-xs-max) {
    padding: 0 10px;
  }
  @media (min-width: $screen-sm-min) {
    height: 80px;
    padding: 24px 10px 0 10px;
  }
  @media (max-width: $screen-sm-max) {
    position: fixed;
    width: 100%;
  }
  @media print {
    display: none;
  }

  a {
    color: $text-color;
    &:hover {
      color: $text-color-muted;
    }
  }
  margin: 0;

  .drawer-controls i.material-icons {
    position: fixed;
    top: 10px;
    right: 15px;
    font-size: 24px;
    padding: 3px 0;
    color: $yellow-accent-color;
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }

  i.fa.home-page-icon {
    position: fixed;
    top: 10px;
    left: 20px;
    font-size: 24px;
    padding: 3px 0;
    color: #000;
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }

  .brand-logo img {
    @media (min-width: $screen-md-min) {
      position: fixed;
    }
    @media (max-width: $screen-xs-max) {
      padding-top: 7px;
      max-height: 40px;
    }
    max-height: 45px;
    &:hover {
      filter: brightness(140%);
      -webkit-filter: brightness(140%);
      cursor: pointer;
    }
  }
  .navbar-left {
    i.fa {
      display: none;
    }
    .logo-bar-container {
      text-align: center;
      display: inline-block;
    }
    @media (max-width: $screen-xs-max) {

      #logo-bar {
        display: none;
      }
    }
  }
  .navbar-right {
    padding: 0;
    li {
      padding: 12px 0;
      a {
        padding: 3px 15px;
        color: $text-color;
        &:hover {
          color: $text-color-muted;
        }
      }
      .border-language {
        @media (min-width: $screen-sm-min) {
          border-right: 2px solid $divider-color;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .navbar-collapse {
      @media (min-width: $screen-sm-min) {
        padding-top: 5px;
      }
    }
  }

  .about-us {
    text-decoration: underline;
    padding-right: 2px;
  }
  .give-feedback {
    text-decoration: underline;
  }
}

.main-flex-container {
  @media (min-width: $screen-md-min) {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.powered-by {
  font-size: 14px;
  padding: 50px 15px 20px;
  color: $text-color;
  @media (min-width: $screen-sm-min) {
    padding-top: 30px;
  }
  a {
    color: $text-color !important;
  }
  @media print {
    display: none;
  }
}

ul.locations {
  padding: 0 0;
  margin: 0 0;
  list-style: none;
  width: 100%
}

ul.locations li {
  @include flex(1);
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
  text-overflow: clip;
  height: 40px;
  position: relative;
  @media (max-width: $screen-xs-max) {
    padding: 0;
    .location-label-name {
      width: 100%;
      text-align: center;
      display: block;
    }
  }
}

ul.locations li a {
  color: #fff;
  text-decoration: none;
}

ul.locations.highlighted li {
  background-color: $green-accent-color;
  color: white;
  text-decoration: none;
  &:hover {
    background-color: $green-accent-color-dark;
  }
}

ul.locations.highlighted li a {
  color: #000;
  text-decoration: none;
}

ul.locations.country li {
  background-color: $primary-color;
  border-top: 1px solid $divider-color;
  color: $text-color;
  text-decoration: none;
  padding: 0;
  height: 40px;
  @include flexbox();
  @media (max-width: $screen-xs-max) {
    @include justify-content(center);
  }
  @include align-items(center);
  &:hover {
    background-color: darken($primary-color, 5%);
  }
}

ul.locations.children li {
  background-color: $primary-color-2;
  border-top: 1px solid $primary-color-5;
  color: $text-color;
  text-decoration: none;
  &:hover {
    background-color: darken($primary-color-2, 5%);
  }
}

ul.locations li.open ul {
  display: block;
  opacity: 1;
}

.location-left {
  display: block;
  font-size: 12px;
  position: absolute;
  text-transform: uppercase;
  @media (max-width: $screen-xs-max) {
    display: none
  }
}

.location-helper {
  width: 40%;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  @media (max-width: $screen-xs-max) {
    display: none
  }
}

.location-icon {
  height: 24px;
  width: 54px;
  padding: 0 15px;
  @media (max-width: $screen-xs-max) {
    position: absolute;
    top: 8px;
  }
}

.location-center {
  width: 100%;
  text-align: center;
  display: block;
}

.location-flex {
  @include flex(1);
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);
  white-space: nowrap;
  padding: 0 15px;
  @media (max-width: $screen-xs-max) {
    padding: 0;
    width: 100%;
    region-flag {
      border-right: 1px solid $divider-color;
      position: absolute;
    }
    region-name {
      width: 100%;
      text-align: center;
      display: block;
    }
  }
}

region-flag {
  @include flexbox();
  @include align-items(center);
  img {
    height: 24px;
    width: 54px;
    padding: 0 15px;
  }
}

.banner {
  border: 1px white solid;
  padding: 5px 5px;
  margin-bottom: 5px;
}

.banner p {
  padding: 5px 5px;
  margin: 0 0;
}

.blue-content {
  background-color: #222B61
}

.blue-content ul.menu li {
  background-color: #222B61
}

.buttons {
  @media (min-width: $screen-sm-min) {
    .col-sm-6:first-of-type {
      padding: 0 5px 0 0;
    }
    .col-sm-6:last-of-type {
      padding: 0 0 0 5px;
    }
  }
  @media (max-width: $screen-xs-max) {
    margin-bottom: 10px;
    div {
      padding: 0;
      margin-bottom: 5px;
    }
  }
  @media print {
    display: none;
  }
}

.service-information-choice {
  margin-top: 30px;
  .content {
    padding: 25px;
  }

}

.navigation-button {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include transition-mixin(background-color, 0.2, ease-out);
  border: 1px solid $divider-color;
  color: $text-color;
  background-color: $primary-color;
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 16px;
  padding: 0 10%;
  @media (max-width: $screen-xs-max) {
    height: 70px;
  }
  @media print {
    display: none;
  }
  i {
    color: #528d57;
  }
  &:hover {
    text-decoration: none;
    background-color: $primary-color-6;
  }
  p {
    margin: 0 0 5px 0;
  }
  .help-text {
    font-size: 10px;
    color: $text-color-muted;
    margin: 0;
    max-width: 200px;
  }
  &.active {
    background-color: $green-accent-color;
    border-color: $green-accent-color-dark;
    color: #FFFFFF;
    i {
      color: #FFFFFF;
    }
    .help-text {
      color: #e9e9e9;
    }
    &:hover {
      background-color: $green-accent-color-light;
    }
  }
}

.quick-links {
  font-size: 20px;
  margin: 0 0 5px 0;
}

.refugee-page-header {
  height: 80px;
  @include flexbox();
  @include align-items(center);
  background-color: $primary-color-2;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 30px;
  border-top: 1px solid $divider-color-2;
  @media (max-width: $screen-xs-max) {
    height: 60px;
    font-size: 16px;
    padding: 0;
  }
}

.border {
  border: 1px solid $divider-color;
}

.border-top-bottom {
  border-top: 1px solid $divider-color;
  border-bottom: 1px solid $divider-color;
}

.border-right {
  border-right: 1px solid $divider-color;
}

.important-information-container {
  @media (min-width: $screen-sm-min) {
    border-top: 1px solid $divider-color-2;
    border-bottom: 1px solid $divider-color-2;
    @include flexbox();
    height: 70px;
  }
}

.important-information-item {
  @include flex(1);
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include transition-mixin(background-color, 0.2, ease-out);
  color: $text-color-muted;
  background-color: transparent;
  margin: 0 !important;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  &:hover {
    background-color: $primary-color-5;
  }
  &:last-of-type {
    .important-information-item-inner.ltr {
      border-right: 0;
    }
  }
  &:first-of-type {
    .important-information-item-inner.rtl {
      border-right: 0;
    }
  }
  &.active {
    background-color: $primary-color;
  }
}

.important-information-item-inner {
  width: 100%;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(row);
  @media (max-width: $screen-xs-max) {
    border-top: 1px solid $divider-color-2;
    height: 50px;
  }
  @media (min-width: $screen-sm-min) {
    border-right: 1px solid $divider-color-2;
    height: 45px;
  }
}

.important-information-content {
  margin: 10px 0;
  border-top: 1px solid $divider-color-2;
  border-bottom: 1px solid $divider-color-2;
  padding: 10px;
  font-size: 14px;
  img {
    max-width: 100%;
  }
  @media (max-width: $screen-xs-max) {
    padding: 10px 0;
    ul {
      -webkit-padding-start: 20px;
      -moz-padding-start: 20px;
    }
  }
}

.divider {
  @media (max-width: $screen-xs-max) {
    border-top: 1px solid $divider-color-2;
  }
  margin-bottom: 20px !important;
}

.general-info-container {
  @media (max-width: $screen-xs-max) {
    padding: 10px 0;
  }
  @media (min-width: $screen-sm-min) {
    padding: 30px;
  }
}

.general-info-divider {
  width: 100%;
  border-top: 1px solid $divider-color;
}

.general-info-item-header {
  height: 46px;
  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-start);
  color: $text-color;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 1px solid $divider-color;
  position: relative;
  &.collapsed {
    @media print {
      display: none;
    }
  }
  &:hover {
    background-color: $primary-color-5;
  }
  .general-info-item-header-inner {
    @include flexbox();
    @include justify-content(flex-start);

    align-items: center;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
    a {
      color: $text-color;
    }
  }
  .general-info-item-header-inner.ltr {
    text-align: left;
  }
  .general-info-item-header-inner.rtl {
    text-align: right;
  }
  i {
    padding: 0 10px;
    font-size: 20px;
    width: 50px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }
}

.general-info-date {
  margin: 10px 0 -5px 0;
  color: $text-color-muted;
  font-size: 10px;
  float: right;
}

.button-transparent {
  border: 0;
  background-color: transparent;
  color: $text-color;
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 14px;
  &:hover {
    background-color: $primary-color-5;
  }
}

.location-name {
  @include flex(1);
}

change-location-button {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.change-location-button {
  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-end);
  @include flex-direction(row);
  color: $green-accent-color !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  i {
    display: block;
    padding: 0 10px;
  }
  span {
    display: block;
  }
  &:hover {
    color: $green-accent-color-dark !important;
  }
}

.font-bold {
  font-weight: bold;
}

.service-list-item-name {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.service-list-item-location {
  margin-bottom: 0;
  margin-top: 0;
}

.service-list-provider {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

.service-list-item {
  @include transition-mixin(background-color, 0.15, linear);
  @include flexbox();
  flex-wrap: wrap;
  height: 115px;
  @include align-items(center);
  cursor: pointer;
  &:hover {
    background-color: $primary-color-2;
  }
  @media (max-width: 1366px) and (min-width: $screen-sm-min) {
    height: 125px;
  }
  @media (max-width: $screen-xs-max) {
    height: 90px;
  }
}

.service-list-message {
  text-align: center;
  margin-top: 10px;
}

.location-selected {
  @include flexbox();
  @include align-items(center);
  white-space: nowrap;
  background-color: $primary-color-2;
  color: $text-color;
  font-size: 20px;
  padding: 10px 15px;
  margin-bottom: 15px;
  @media (max-width: $screen-xs-max) {
    padding: 10px 5px;
    flex-wrap: wrap;
  }
}

.location-bar-header {
  margin-bottom: 10px;
  margin-top: 30px;
  @include align-items(center);
}

.location-bar-center {
  @media (max-width: $screen-xs-max) {
    text-align: left;
  }
  text-align: center;
  font-size: 14px;
}

.location-bar-right {
  float: right;
  @media (max-width: $screen-xs-max) {
    font-size: 11px;
  }
}

.green-bar {
  background-color: $green-accent-color;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  padding: 6px 0;
  color: #f8fefc;
  margin-bottom: 0 !important;
}

.caption {
  display: block;
}

span.underline {
  text-decoration: underline;
}

nav {
  background-color: $primary-color;
  color: $text-color;
  a {
    color: $text-color !important;
  }
}

.side-nav {
  background-color: $primary-color;
}

.lang-divider {
  border-left: 1px solid $text-color;
}

.switch label {
  color: $text-color;
  .lever {
    width: 80px;
    height: 2px;
    background-color: $text-color !important;
    &:after {
      background-color: $text-color !important;
      height: 10px;
      width: 10px;
      top: -4px;
    }
  }
}

.switch label input[type="checkbox"]:checked + .lever::after {
  left: 80px;
}

.service-list {
  @media (max-width: $screen-sm-max) {
    padding-top: 100px;
  }
  @media (max-width: $screen-xs-max) {
    padding-top: 60px;
  }
  .service-list-divider {
    &.ltr {
      border-right: 1px solid $divider-color;
      border-left: none;
    }
    &.rtl {
      border-left: 1px solid $divider-color;
      border-right: none;
    }
  }
}

.service-list-item-icon-container {
  width: 50px;
  height: 50px;
  background-color: $green-accent-color !important;
  border-radius: 10px;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}

.services-filter-list-container-mobile {
  padding-right: 0;
  padding-left: 0;
}

.services-filter-list-mobile {
  list-style-type: none;
  overflow-y: scroll;
  width: 200px;
  max-height: 250px;
  @media (max-width: $screen-sm-max) {
    padding-left: 0;
    padding-top: 100px;
    width: 100%;
    max-height: 100%;
  }
  @media (max-width: $screen-xs-max) {
    padding-top: 60px;
  }
}

.services-filter-list-mobile.ltr {
  left: auto;
  right: 0;
}

.services-filter-list-mobile.rtl {
  right: auto;
  left: 0;
  padding-right: 0;
}

.filter-line-mobile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px $divider-color-dark solid;
  padding-bottom: 5px;
  padding-top: 5px;
}

.services-filter-list-icon-container-mobile {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 20px;
  padding-right: 0;
  &.rtl {
    padding-left: 0;
    padding-right: 20px;
  }
}

.services-filter-list-item-mobile {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    white-space: normal;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.service-icon {
  color: #FFF;
}

.service-icon-map {
  margin-top: -32px;
}

.filter-line-mobile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px $divider-color-dark solid;
  padding-bottom: 5px;
  padding-top: 5px;
}

.services-filter-list {
  list-style-type: none;
  overflow-y: scroll;
  width: 200px;
  max-height: 250px;
  @media (max-width: $screen-sm-max) {
    padding-left: 0;
    padding-top: 60px;
    width: 100%;
    max-height: 100%;
  }
}

.services-filter-list.ltr {
  left: auto;
  right: 0;
}

.services-filter-list.rtl {
  right: auto;
  left: 0;
}

.services-filter-list-icon-container {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.search-bar {
  @media (max-width: $screen-xs-max) {
    .col-sm-6 {
      padding: 0;
    }
  }
  @media (min-width: $screen-sm-min) {
    @include flexbox();
    height: 70px;
  }
  @include align-items(center);
  background-color: $primary-color;
  padding: 10px;

  .title {
    color: $text-color-muted;
    text-transform: uppercase;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }

  .input-group-addon,
  input {
    background-color: $primary-color-2;
    border: none;
    outline: none;
    box-shadow: none !important;
    @media (max-width: $screen-sm-max) {
      background-color: #FFFFFF;
    }
  }

  .input-group-btn,
  button {
    background-color: $primary-color-2;
    border: none;
    padding-left: 5px;
    outline: none;
    box-shadow: none !important;
    @media (max-width: $screen-sm-max) {
      background-color: #FFFFFF;
    }
  }

  i.fa {
    color: $text-color;
    @media (max-width: $screen-sm-max) {
      color: #515151;
    }
  }
  ul {
    background-color: $primary-color-3;
  }
  a {
    color: $text-color;
  }
}

.above {
  @media (max-width: $screen-sm-max) {
    position: absolute;
    top: 0;
    background-color: $primary-color-4;
    z-index: 1000;
    width: 100%;
    min-height: 100%;
    padding-top: 80px;
  }
}

.info-above {
  @media (max-width: $screen-sm-max) {
    position: absolute;
    background-color: $primary-color-4;
    z-index: 1000;
  }
}

.below {
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

.mobile-services-map-navigation {
  display: flex;
  top: 95px;

  padding: 10px;
  padding-top: 0;
  z-index: 1001;
  position: fixed;
  justify-content: space-around;
  @media (min-width: $screen-sm-min) {
    background-color: transparent;
    top: 135px;
  }
}

.mobile-services-map-navigation-button {
  background: white;
  height: 35px;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  i.fa {
    padding: 0 3px;
    color: $divider-color-2;
  }
  span {
    color: $divider-color-2;
  }
  &.active {
    background: $green-accent-color;
    i.fa {
      color: #FFF;
    }
    span {
      color: #FFF;
    }
  }
}

.search-background {
  background: $page-background-color;
  z-index: 1001;
}

.floating-action-button {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  border-radius: 80px;
  height: 80px;
  width: 80px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 2;
  background-color: $green-accent-color;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  @media (max-width: $screen-xs-max) {
    height: 64px;
    width: 64px;
    border-radius: 64px;
    bottom: 25px;
    right: 25px;
  }
  @media (min-width: $screen-md-min) {
    display: none;
  }
  i {
    font-size: 40px;
  }
  &:hover {
    background-color: $green-accent-color-light;
  }
  &.rtl {
    left: 40px;
    right: auto;
  }
}

.mobile-search-bar {
  @media (max-width: $screen-sm-max) {
    position: fixed;
    top: 75px;
    left: 0;
    z-index: 1001;
    width: 100%;
    .search-bar {
      background-color: transparent;
    }
    .form-control-static {
      display: none;
    }
    .col-md-6 {
      padding: 0;
    }
    .input-group {
      z-index: 1000;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
  }
  @media (max-width: $screen-xs-max) {
    top: 45px;
  }
  @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    .input-group {
      width: 60%;
      margin: 0 auto;

    }
  }
}

.mobile-service-map-container {
  @media (max-width: $screen-sm-max) {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0 !important;
    padding: 80px 0 0 0 !important;
    @media (max-width: $screen-xs-max) {
      padding: 50px 0 0 0 !important;
    }
  }
}

.services-map {
  margin-top: 15px;
  height: 400px;
  @media (max-width: $screen-sm-max) {
    margin-top: 0;
    height: 100%;
  }
}

.service-details-map {
  height: 400px;
  @media (max-height: $screen-xs-max) {
    height: 250px;
  }
}

.hidden-sm-up {
  // bootstrap 4 class
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.hidden-sm-down {
  // bootstrap 4 class
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

.hidden-xs {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.service-name {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.service-details {
  h1 {
    margin: 0 0 10px 0;
  }
  h2 {
    margin: 20px 0 15px 0;
  }
  p {
    margin: 0 0 15px 0;
  }
  .service-name {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .provider-name {
    font-size: 14px;
    font-weight: bold;
  }
  .service-location {
    @include flexbox();
    @include flex-direction(row);
    font-size: 13px;
    color: $green-accent-color;
    margin-bottom: 10px;
    .service-location-text {
      p {
        margin: 0;
      }
    }
    .material-icons {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      font-size: 16px;
      width: 24px;
    }
  }

  .service-details-bar {
    border-bottom: 1px solid $divider-color;
  }
  .service-rate-link {
    text-decoration: underline;
    font-size: 13px;
    float: right;
    color: $text-color-muted !important;
    &:hover {
      color: $text-color !important;
    }
  }
  .service-description-title {
    font-size: 15px;
  }
  .service-description-body {
    font-size: 12px;
    color: $text-color-muted !important;
    white-space: pre-wrap;
  }
  .service-image {
    max-width: 100%;
    margin: 8px 0;
  }
  .service-opening-hours-table {
    font-size: 12px;
    color: $text-color-muted !important;
    tr {
      border-bottom: 1px solid $divider-color-2;
      &:last-of-type {
        border-bottom: 0;
      }
    }
    td {
      padding: 5px 10px;
    }
    td.day-of-week {
      text-transform: capitalize;
    }
  }
}

.button-container {
  margin: 40px 0;
}

.button {
  height: 44px;
  width: 100%;
  font-size: 14px;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  margin-bottom: 8px;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  i {
    font-size: 20px;
  }
}

.button-green {
  @include transition-mixin(background-color, 0.15, linear);
  background-color: $green-accent-color;
  color: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
  &:hover {
    background-color: $green-accent-color-dark;
    color: #FFFFFF;
  }
  i.fa {
    color: #FFFFFF;
    padding: 0 10px;
  }
}

.button-blue {
  @include transition-mixin(background-color, 0.15, linear);
  background-color: $facebook-blue;
  color: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
  &:hover {
    background-color: $facebook-blue-light;
    color: #FFFFFF;
  }
  i.fa {
    color: #FFFFFF;
    padding: 0 10px;
  }
  span {
    color: #FFFFFF;
  }
}

.button-black {
  @include transition-mixin(background-color, 0.15, linear);
  background-color: #000000;
  color: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
  &:hover {
    background-color: #303030;
    color: #FFFFFF;
  }
  i.fa {
    color: #FFFFFF;
    padding: 0 10px;
  }
}

.button-white {
  @include transition-mixin(background-color, 0.15, linear);
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
  color: #000000 !important;
  &:hover {
    background-color: #e2e2e2;
  }
  i.fa {
    color: #000000;
    padding: 0 10px;
  }
}

.map-container {
  height: 400px;
  width: 100%;
  border-bottom: 1px solid $divider-color-2;
  margin-top: 80px;
  @media (max-width: $screen-xs-max) {
    height: 250px;
    margin-top: 50px;
  }
}

.view-container {
  @media (max-width: $screen-xs-max) {
    padding: 0 10px 10px 10px;
  }
  @media (min-width: $screen-sm-min) {
    padding: 0 30px 30px 30px;
    margin-top: 20px;
  }
  @media print {
    margin-top: 0;
  }
  background-color: $primary-color-4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

}

.view-container-padded {
  @media (max-width: $screen-sm-max) {
    margin-top: 80px;
  }
  @media (max-width: $screen-xs-max) {
    margin-top: 50px;
    padding: 10px;
  }
  @media (min-width: $screen-sm-min) {
    padding: 30px;
  }
}

.get-app-container {
  h1 {
    font-size: 20px;
    margin: 0;
    @media (max-width: $screen-xs-max) {
      font-size: 14px;
    }
    @media (max-width: $screen-sm-max) {
      font-size: 16px;
    }
    @media (min-width: $screen-sm-min) {
      padding-top: 20px;
    }
  }
  a img.google-play {
    max-width: 100%;
  }
  img.app-store {
    max-width: 100%;
  }
}

.header-center {
  font-size: 18px;
  text-align: center;
  margin: 0 0 10px 0;
}

.refugee-page-header-icon {
  padding: 0 15px;
  font-size: 30px;
  @media (max-width: $screen-xs-max) {
    font-size: 26px;
  }
}

.important-info-icon {
  font-size: 26px;
  padding: 0 15px;
  position: relative;
  top: 2px
}

.services-icon {
  font-size: 25px;
  padding: 0 15px;
}

.sk-fading-circle .sk-circle:before {
  background-color: #CCCCCC;
}

.cookie-policy-container {
  position: fixed;
  bottom: 15px;
  width: 90%;
  margin: 0 5%;
  background-color: $primary-color-3;
  border: 1px solid $divider-color;
  font-size: 12px;
  padding: 10px;
  z-index: 2;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  @media (min-width: $screen-md-min) {
    width: 50%;
    right: 0;
  }
  .cookie-policy-button {
    color: white;
    text-transform: uppercase;
    float: right;
    padding: 6px 12px;
    background-color: $green-accent-color;
    cursor: pointer;
    &:hover {
      background-color: $green-accent-color-dark;
    }
  }
}

#img-location {
  width: 100%;
  @media (min-width: $screen-sm-min) {
    margin-bottom: -250px;
  }
  @media (max-width: $screen-sm-max) {
    margin-top: 30px;
    margin-bottom: -50px;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

p {
  @media print {
    page-break-before: auto !important;
  }
}

div {
  @media print {
    page-break-before: auto !important;
  }
}

a:after {
  @media print {
    content: '' !important;
  }
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  &.service-list-row {
    margin-bottom: 0;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 0;
    }
  }
}

.brand {
  position: absolute;
  left: 50%;
  @media (max-width: $screen-xs-max) {
    left: 10px;
  }
  @media (min-width: $screen-sm-min) {
    margin-left: -85px !important;
  }
  display: block;
}

.service-state-brand {
  @media (max-width: $screen-xs-max) {
    left: 50px;
  }
}

a {
  color: $text-color;
  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
    color: $text-color-muted;
  }
}

i.fa {
  color: #528d57;
}

.no-padding {
  padding: 0 !important;
}

.flex {
  @include flexbox();
}

.leaflet-google-layer {
  z-index: 0 !important;
}

.leaflet-map-pane {
  z-index: 100;
}

.leaflet-service-label {
  position: relative;
  white-space: normal;
  min-width: 250px;
}

.leaflet-control-layers {
  display: none !important;
}

.leaflet-left .leaflet-control {
  @media (max-width: $screen-sm-max) {
    margin-top: 85px;
  }
}

.leaflet-marker-icon.service-list-item-icon-container-map {
  margin-top: -10px;
  margin-left: -17px;
}

.service-info-control {
  margin: 10px;
  padding: 6px 8px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 400px;
  @media (max-width: $screen-sm-max) {
    margin-top: 90px;
  }
}

.service-info-container {
  display: none;
  @media (max-width: $screen-sm-max) {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: #FFF;
    display: block;
  }
}

.service-info-header {
  display: flex;
}

.service-info-icon {
  padding-left: 5px;
  padding-right: 5px;
}

.modal-fullscreen {
  .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    @media (max-width: $screen-xs-max) {
      margin: 0;
    }
  }

  .modal-content {
    height: 100%;
    border-radius: 0;
  }
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    .print-container {
      margin-top: 2px;
    }
  }
}

.modal-backdrop {
  position: relative;
}

.general-info-container li, .app li {
  margin-bottom: 5px;
}

.general-info-item-content {
  padding: 55px 0 10px 0;
  margin-top: -45px;
  &.collapse.in {
    border-bottom: 1px solid $divider-color;
  }
  @media (max-width: $screen-xs-max) {
    padding: 105px 0 10px 0;
    margin-top: -95px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding: 135px 0 10px 0;
    margin-top: -125px;
  }
}

#contentModal {
  @media print {
    position: absolute !important;
    overflow: visible !important;
  }
}

.modal-open {
  @media print {
    .general-info-item-content {
      display: none;
    }
    .general-info-item-header {
      display: none;
    }
    .home-img {
      display: none;
    }
    .location-selected {
      display: none;
    }
    .row.green-bar {
      display: none;
    }
    .important-information-content {
      display: none;
    }
    .modal-dialog {
      &.general-info-item-content {
        display: block;
      }
    }
    .modal-header {
      border-bottom: none;
    }
    .modal-content {
      border: none;
      overflow: visible !important;
      p {
        page-break-before: auto !important;
      }
      div.video {
        page-break-before: auto !important;
      }
      div.fb-post {
        page-break-before: auto !important;
      }
    }
    .modal-footer {
      display: none;
    }
  }
}

.general-info-item-content, .important-information-content {
  hr {
    width: 30%;
    border-bottom: 2px solid $green-accent-color;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  @media print {
    display: none;
  }
}

.facebook-container {
  @include flexbox();
  max-width: 100%;
  margin-top: 10px;
  vertical-align: middle;
  i {
    color: #3b5998;
  }
  .fb-like {
    padding: 0 5px;
    margin-top: 4px
  }
}

.print-container {
  @include flexbox();
  max-width: 100%;
  margin-top: 10px;
  vertical-align: middle;
  button {
    border: none;
    background: transparent;
  }
}

.share-thumbs-container {
  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-end);
  margin: 10px 0;
  .print-container {
    margin-top: auto;
  }
  @media print {
    display: none;
  }
}

.info-bar {
  margin: 0;
  padding: 10px 15px;
  .location-info-divider {
    border-bottom: 1px solid $divider-color;
    margin: 10px 0 10px;
  }
  @media print {
    display: none;
  }
}

.link {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 100;
  &:hover {
    background-color: $panel-color-dark;
  }
}

.important-information-container {
  @media (min-width: $screen-sm-min) {
    border-top: 1px solid $divider-color-dark;
    border-bottom: 1px solid $divider-color-dark;
    @include flexbox();
    height: 70px;
  }
}

.important-information-item {
  @include flex(1);
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include transition-mixin(background-color, 0.2, ease-out);
  color: $text-color-muted;
  background-color: transparent;
  margin: 0 !important;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  &:hover {
    background-color: $panel-color-dark;
  }
  &:last-of-type {
    .important-information-item-inner.ltr {
      border-right: 0;
    }
  }
  &:first-of-type {
    .important-information-item-inner.rtl {
      border-right: 0;
    }
  }
  &.active {
    background-color: $page-background-color;
  }
}

.important-information-item-inner {
  width: 100%;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(row);
  @media (max-width: $screen-xs-max) {
    border-top: 1px solid $divider-color-dark;
    height: 50px;
  }
  @media (min-width: $screen-sm-min) {
    border-right: 1px solid $divider-color-dark;
    height: 45px;
  }
}

.important-information-content {
  margin: 10px 0;
  border-top: 1px solid $divider-color-dark;
  border-bottom: 1px solid $divider-color-dark;
  padding: 10px;
  font-size: 14px;
  img {
    max-width: 100%;
  }
  @media (max-width: $screen-xs-max) {
    padding: 10px 0;
    ul {
      -webkit-padding-start: 20px;
      -moz-padding-start: 20px;
    }
  }
}

.about-us {
  img {
    max-width: 100%;
  }
}

.tel {
  direction: ltr !important;
  display: inline-block;
}

.service-divider {
  border-bottom: 1px solid $divider-color-dark;
}

.collapse-button {
  justify-content: center;
  border-top: 1px solid $divider-color;
  color: $green-accent-color;
}

.updated-at {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  /*font-size: 10px;*/
  font-style: italic;
}

// flexbox modal
div.modal-dialog {
  margin: 0;
  .modal-content {
    overflow: auto !important;
    @include flexbox();
    @include flex-direction(column);
  }
  .modal-body-container {
    flex: 1;
    overflow-y: auto;
  }
}

.opening-hours-table {
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}

/* Content goes at the end */
@import "content";
@import "content-print";
