{% load static %}
{% load i18n %}
{% load tz %}
{% load l10n %}

<div class="s12 center col" ng-show="!ctrl.loaded">Loading...</div>

<div id="container" class="container service-information-choice" ng-show="ctrl.loaded">
    <div class="col s11" style="background-color: black">
        <div class="row">
            <div class="col s6 center">
                <button ng-click="ctrl.navigateTo('importantInformation')" class="grey-button-medium"><i class="fa fa-info small" aria-hidden="true"></i> Important Information</button>
            </div>
            <div class="col s6 center">
                <button ng-click="ctrl.navigateTo('services')" class="grey-button-medium"><i class="fa fa-wrench small" aria-hidden="true"></i> Services</button>
            </div>
        </div>
        <div class="row border-top-bottom important-information">
            <div class="col s4 center border-right">
                <button class="button-transparent">Asylum Information</button>
            </div>
            <div class="col s4 center border-right">
                <button class="button-transparent">Staying Safe</button>
            </div>
            <div class="col s4 center">
                <button class="button-transparent">Parents and Families</button>
            </div>
        </div>
        <div class="row location-bar-header">
            <div class="col s4 center">
            </div>
            <div class="col s4 center font-bold">
                Your location:
            </div>
            <div class="col s4 center">
                <button class="change-location-button">CHANGE LOCATION <i class="material-icons">my_location</i></button>
            </div>
        </div>
        <div class="row location-bar">
            <region-name region="ctrl.data.location"></region-name>
        </div>
    </div>
</div>
