<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 view-container view-container-padded">
    <location-selected></location-selected>
    <location-buttons></location-buttons>
    <img class="home-img" src="/static/images/refugees-in-sid.jpg" style="width: 100%">
    <location-info location="ctrl.location"></location-info>
    <quick-links class="hidden-xs" location="ctrl.location" direction="baseController.direction()"></quick-links>
    <div class="general-info-container">

        <div class="general-info-box hidden-xs" ng-repeat="b in ctrl.location.banners" ng-bind-html="b.html"></div>

        <div class="general-info-divider" ng-if="ctrl.location.content"></div>
        <div class="general-info-item" ng-repeat="p in ctrl.location.content" id="{$ 'Anchor_' + p.slug $}"
             ng-show="!p.pop_up">
            <a href="#{$ p.slug $}">
                <div class="general-info-item-header collapsed" data-toggle="collapse" data-target="#{$ p.slug $}">
                    <div class="general-info-item-header-inner" ng-class="baseController.direction()">
                        <i class="fa {$ p.icon $}"></i>{$ p.title $}<span name="{$ 'Anchor_' + p.slug $}" item="p"
                                                                          collapse-on-anchor-scroll></span>
                    </div>
                </div>
            </a>
            <div class="general-info-item-content collapse" ng-if="!p.pop_up" id="{$ p.slug $}"
                 bind-html-compile="p.html"></div>

            <div class="genral-info-item" ng-repeat="sub in p.subsections" id="{$ 'Anchor_' + sub.slug $}"
                 ng-show="false">
                <a href="#{$ sub.slug $}">
                    <div class="general-info-item-header collapsed" data-toggle="collapse"
                         data-target="#{$ sub.slug $}">
                        <div class="general-info-item-header-inner" ng-class="baseController.direction()">
                            <i class="fa {$ sub.icon $}"></i>{$ sub.title $}<span name="{$ 'Anchor_' + sub.slug $}"
                                                                                  item="sub"
                                                                                  collapse-on-anchor-scroll></span>
                        </div>
                    </div>
                </a>
                <div class="general-info-item-content collapse" ng-if="false" id="{$ sub.slug $}"
                     bind-html-compile="sub.html"></div>
            </div>
        </div>
        <div class="footer-container">
            <fb-like></fb-like>
            <print-page item="ctrl.location"></print-page>
        </div>
    </div>

    <div id="contentModal" class="modal modal-fullscreen fade" tabindex="-1" role="dialog"
         aria-labelledby="content-modal" aria-hidden="true">
        <div class="modal-dialog general-info-item-content">
            <div class="modal-content" style="overflow: scroll">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <print-page></print-page>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{$ 'BACK' | translate $}</button>
                </div>
            </div>
        </div>
    </div>
</div>
