{% load static %}
{% load i18n %}
{% load tz %}
{% load l10n %}
{% load marktags %}
{% cookie 'theme' as theme %}

<div class="col-xs-12 col-md-8 col-md-offset-2 view-container">

    <div class="row refugee-page-header">
        <i class="fa fa-wrench refugee-page-header-icon" aria-hidden="true"></i>Services
    </div>
    <div class="row buttons">
        <div class="col-sm-6 text-center">
            <a ui-sref="locationDetails.importantInformation({slug: ctrl.slug})" class="grey-button-medium">
                <i class="fa fa-info important-info-icon" aria-hidden="true"></i>Important Information</a>
        </div>
        <div class="col-sm-6 text-center">
            <a ui-sref="locationDetails.services({slug: ctrl.slug})" class="grey-button-medium">
                <i class="fa fa-wrench services-icon" aria-hidden="true"></i>Services</a>
        </div>
    </div>
    <div class="row location-bar-header">
        <div class="location-bar-center">
            Your location:
        </div>
        <div class="location-bar-right">
            <a ui-sref="location" class="change-location-button">Change location<i class="material-icons">my_location</i></a>
        </div>
    </div>
    <div class="row location-bar">
        <region-name region="ctrl.location"></region-name>
    </div>
    <div class="row">
        <services-map region="ctrl.location.envelope" theme="baseController.theme()" services="ctrl.services"></services-map>
    </div>
    <search-bar search="ctrl.search"></search-bar>
    <div class="row">
        <services-list filter="ctrl.search" location-slug="ctrl.slug"></services-list>
    </div>
</div>
