{% load static %}
{% load i18n %}
{% load tz %}
{% load l10n %}


<div class="col-xs-12 col-md-8 col-md-offset-2 view-container">
    <div class="row refugee-page-header">
        <i class="fa fa-info refugee-page-header-icon" aria-hidden="true"></i>Important Information
    </div>
    <div class="row buttons">
        <div class="col-sm-6 text-center">
            <a ui-sref="locationDetails.importantInformation({slug: ctrl.slug})" class="grey-button-medium">
                <i class="fa fa-info important-info-icon" aria-hidden="true"></i>Important Information</a>
        </div>
        <div class="col-sm-6 text-center">
            <a ui-sref="locationDetails.services({slug: ctrl.slug})" class="grey-button-medium">
                <i class="fa fa-wrench services-icon" aria-hidden="true"></i>Services</a>
        </div>
    </div>
    <location-bar></location-bar>
    <div class="row location-bar">
        <region-name region="ctrl.location"></region-name>
    </div>
    <div class="general-info-container">

        <div class="general-info-box" ng-repeat="b in ctrl.location.metadata.banners" ng-bind-html="b"></div>

        <div class="general-info-divider" ng-if="ctrl.location.content"></div>
        <div class="general-info-item" ng-repeat="p in ctrl.location.content | filter: {important: true, hide_from_toc: false}">
            <div class="general-info-item-header" data-toggle="collapse" data-target="#info{$ p.index $}">
                <div class="general-info-item-header-inner">
                    <i class="fa {$ p.vector_icon $}"></i>{$ p.title $}
                </div>
            </div>
            <div class="general-info-item-content collapse" ng-class='{in:$first}' id="info{$ p.index $}" ng-bind-html="p.section"></div>
        </div>
        <div class="general-info-item" ng-repeat="p in ctrl.location.content | filter: {important: false, hide_from_toc: false}">
            <div class="general-info-item-header" data-toggle="collapse" data-target="#info{$ p.index $}">
                <div class="general-info-item-header-inner">
                    <i class="fa {$ p.vector_icon $}"></i>{$ p.title $}
                </div>
            </div>
            <div class="general-info-item-content collapse" id="info{$ p.index $}" ng-bind-html="p.section"></div>
        </div>
        <div class="general-info-divider" ng-if="ctrl.location.content"></div>

        <p class="general-info-date" data-date="{$ ctrl.publication_date $}" ng-if="!!ctrl.publication_date">
            {% trans "Last updated on:" %} {$ ctrl.localized_date $} UTC
        </p>

    </div>
</div>
