<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 view-container view-container-padded">
    <location-selected></location-selected>
    <location-buttons slug="ctrl.slug"></location-buttons>
    <div class ="row">
        <h1 class="service-name">{$ ctrl.service.name $}</h1>
    </div>
    <div class="row" ng-if="ctrl.service.location">
        <service-map
                service="ctrl.service"
                is-mobile="baseController.isMobile()">
        </service-map>
    </div>
    <div class="row">
        <service-details chunked-same-coordinates-services="ctrl.chunkedSameCoordinatesServices" service="ctrl.service" location="ctrl.location" get-service-color="ctrl.getServiceColor(type)" get-service-icon="ctrl.getServiceIcon(type)" slug="ctrl.slug"></service-details>
    </div>
    <print-page></print-page>
</div>
