{% load static %}
{% load i18n %}
{% load tz %}
{% load l10n %}
{% load marktags %}
{% cookie 'theme' as theme %}

<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 view-container view-container-padded">
    <location-buttons></location-buttons>
    <h1 class="quick-links">Quick links:</h1>
    <div class="important-information-container">
        <div class="important-information-item"
             ng-repeat="info in ctrl.location.important_information | filter: {hidden: false}"
             ng-click="ctrl.openImportantInfo(info.id)"
        >
            <div class="important-information-item-inner" ng-class="baseController.direction()">{$
                info.metadata.page_title $}
            </div>
        </div>
    </div>
    <div class="row hidden important-information-content-container"
         ng-repeat="info in ctrl.location.important_information | filter: {hidden: false}"
         id="info-{$ info.id $}"
    >
        <div class="important-information-content"
             ng-repeat="item in info.content"
             ng-bind-html="item.section"></div>
    </div>
    <div class="important-information divider"></div>
    <location-bar></location-bar>
    <div class="row location-bar">
        <region-name region="location"></region-name>
    </div>
    <div class="row">
        <region-map region="location.envelope" theme="baseController.theme()"></region-map>
    </div>
</div>
