{% load i18n %}
<div ng-cloak ng-hide="ctrl.locationSlug && !ctrl.force">
    <location-map theme="baseController.theme()" closest="ctrl.data.closest" regions="ctrl.data.regions" countries="ctrl.countries"></location-map>
    <div class="view-container view-container-padded">
        <div class="get-app-container">
            <h1>Available on Play store for Android <br>and App store for iOS.</h1>
            <a href='https://play.google.com/store/apps/details?id=info.refugee.app&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img class="google-play" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
            </a>
        </div>
        <div ng-show="!!ctrl.data.closest">
            <h3 class="header-center">{% trans "Closest location:" %}</h3>
            <ul class="locations highlighted">
                <li ng-click="ctrl.navigateTo(ctrl.data.closest.slug)">
                    <span class="location-left">{% trans "View info for" %}:</span>
                    <span class="location-center">
                        {$ ctrl.data.closest.title || ctrl.data.closest.metadata.page_title || ctrl.data.closest.name || '' $}
                        <span ng-if="ctrl.data.closest.distance" style="direction: ltr">({$ ctrl.data.closest.distance | number: 2 $} km)</span>
                    </span>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="header-center" style="margin-top: 30px">{% trans "Where are you?" %}</h3>
            <div ng-repeat="region in ctrl.data.regions">
                <region-choice region="region" direction="{$ baseController.direction() $}"></region-choice>
            </div>
        </div>
    </div>
</div>
